body {
    background-color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    margin-top: 100px;
    text-align: center;
}

li {
    height: auto;
    max-width: 70%;
    list-style: none;
    margin: 0 auto;
}

a {
    display: block;
    text-align: center;
    font-size: 45px;
    text-decoration: none;
    color: rgb(65, 20, 100);
    padding: 5px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    border: 4px solid white;
}

.minh:hover {
    text-decoration: none;
    color: rgb(216, 179, 179);
    background-color: black;
    font-size: 50px;
}

@media only screen and (max-width: 800px) {
    a {
        font-size: 25px;
    }
    .minh:hover {
        text-decoration: none;
        color: rgb(216, 179, 179);
        background-color: black;
        font-size: 30px;
    }
}

@media only screen and (max-width: 450px) {
    a {
        font-size: 20px;
    }
    .minh:hover {
        text-decoration: none;
        color: rgb(216, 179, 179);
        background-color: black;
        font-size: 25px;
    }
    img {
        width: 300px;
    }
}

article {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

div {
    margin-top: 0;
    max-height: 300px;
    overflow: hidden;
}

img {
    margin: 0 auto;
}