@media only screen and (max-width: 1050px) {
    .bottom__title-section1 {
      opacity: 0;
      visibility: hidden;
    }
  }
  @media only screen and (max-width: 781px) {
    .section1 .background {
        background-image: url(./img/iPhone12.jpg);
        /* position: absolute; */
        top: 3%;
        transform: scale(1.2);
      }
      
  }
  @media only screen and (max-width: 415px) {
    .section3 .background {
      bottom: -27px;
    }
  }
  @media only screen and (max-width: 800px) {
    header{
      overflow: hidden;
    }
    header ul{
      display: flex;
      flex-direction: column;
    }
    header ul li{
      margin-top: 7px;
      margin-bottom: 3px;
    }
  }
  @media only screen and (max-width: 800px) {
    .content_fix{
      font-size: 40px !important; 
    }
    .footer1__copyright{
      display: none;
    }
  }
  @media only screen and (max-width: 800px) {
    #header__home2{
      display: none;
    }
  }
  @media only screen and (min-width: 800px) {
    #header__home1{
      display: none;
    }
  }

  @keyframes zoomin {
    to{
        height: 390px;
    }
  }
  @keyframes zoomout {
    from{
      height: 390px;
    }
    to{
      height: 50px;
    }
    
  }
  @keyframes zoomin1 {
    to{
        height: 450px;
    }
  }
  @keyframes zoomout1 {
    from{
      height: 450px;
    }
    to{
      height: 50px;
    }
    
  }