:root {
    --greyDark: #333333;
    --greyLight: #d6d6d6;
    --greyLight2: #a1a1a6;
    --white: #f5f5f7;
    --text: #1d1d1f;
    --blue: #0071e3;
    --a: #2997ff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background-color: #ddd;
  }
  
  a {
    text-decoration: none;
    font-weight: 300;
  }
  ul{
    padding-left: 0;
  }
  a:hover {
    text-decoration: underline;
  }
  
/* 
 /* Navbar 
 .chapternav_items{
  width: 100%;
  height: 100px;
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.chapternav_item{
  text-align: center;

  width: 9%;
  margin: 0 10px;
  border-radius: 10%;

}  */

.chapternav_item > .chapternav_link > img{
  width: 100%;
  height: 80%;
}
.chapternav_item > a{
  text-decoration: none;
  color: #1d1d1f;
}
.chapternav_item:hover{
  background-color: #a1a1a6;
}
/* Slideshow */
.carousel{
  width: 100%;
  height: 800px;
  margin: 0 auto;
  margin-top:   100px;
  border-radius: 15px;
  border:3px solid #000 ;
}
.carousel-item{
  width: 100%;
  height: 800px;
  >img{
    border-radius: 15px;
  }
}
.d-block{
  width: 100%;
  height: 800px;
}

/* Content */




.section-content{
  text-align: center;
  margin: 30px;
}

.section-content > ul{
  display: flex;
  justify-content: center;
  margin: 10px 20px;
  padding: 10px 20px;
  > li > a{
    color: #000;
    text-decoration: none;
    font-size: 20px;

  } 
}


.row{
  margin-bottom: 20px;
}

.section_mac > a{
  text-decoration: none;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px  ;
  >.button{
    display: flex;
    justify-content: space-between;
    >.button1{
      width: 100px;
      border-radius: 15px;
      float: right;
      margin: 10px;
      border: 5px;
    }
  }
}
.section_mac > a:hover{
  box-shadow: 0 0 5px 5px grey;
}

.section-content > .More{
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  width: 100px;
  border: #222222 solid 2px;
  margin: 0 auto;
  > a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    border: #000;
    
  }
}

.section-content > .More:hover{
  background-color: #fff;
}

.section-content > .More > a:hover{
  font-weight: bold;
}

/* modal box fake */

.information{
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  color: #000;
  margin: 50px 0 0 0 ;
}

.information > .information_content{
  background-color: white;
  width: 720px;
  margin: 15px 0 0 0 ;
  padding: 15px;
  margin: 0 auto;
  display: block;
}

.information > .information_content > .information_header{
   display: flex;
   justify-content: space-between;
   >.close{
    font-size: 20px;
    margin-bottom: 8px;
    width: 30px;
    text-align: center;
   } > .close:hover{
    cursor: pointer;
    background-color: #a1a1a6;
    border-radius: 10px;
   }
}
.information > .data-table{
  width: 720px;
  max-width: 90%;
  margin: 0 auto;
  background-color: white;
}

.hidden-row{
  display: none;
}
.data-table ul li{
  list-style-type: none;
}

 .data-table tr:nth-child(odd){
  background-color: #f5f5f7;
}
.ulist p{
  margin-bottom: 0;
}
/* 
.category-main{
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap-reverse;
  align-content: center;
  text-decoration: none;
  color: #000;
}
.item-box{
   position: relative;
  width: 50px;
  padding: 50px;
  display: inline-block;
  height: 50px;
   width: 100%; 
}

.item-box  > a{
  text-decoration: none;
  color: #000;
  width: 100%;
   text-align: center; 
}*/



  /* FOOTER */
   .footer1 {
    width: 100%;
    height: auto;
    background: var(--white);
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  
  .footer1__wrapper {
    width: 70%;
  }
  
  .footer1 ul {
    font-size: 12px;
    list-style: none;
    color: #86868b;
    border-bottom: 1px solid var(--greyLight);
  }
  
  .footer1 ul li {
    margin: 15px 0;
    letter-spacing: 0.1px;
  }
   
  .footer1__links {
    width: 100%;
    display: flex;
  }
  
  .footer1__links--column {
    width: 200px;
    display: flex;
    flex-direction: column;
  }
  
  .footer1__links--column-title {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
  }
  
  .footer1__links--column a {
    font-size: 12px;
    color: #515154;
    margin-bottom: 12px;
    margin-top: 3px;
  }
  
  .footer1__more {
    font-size: 13px;
    color: #86868b;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--greyLight);
  } 
  
   .footer1__more a {
    color: #06c;
  }
  
  .footer1__copyright {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: #86868b;
    margin-top: 4px;
    position: relative;
  }
  .footer1__copyright p{
    margin-bottom: 0;
  }
  
  .footer1__copyright .links a {
    padding: 0 10px;
    color: #515154;
    border-left: 1px solid var(--greyLight);
  }
  
  .footer1__copyright .links a:nth-child(1) {
    border: none;
  } 


/* media */

@media only screen and (max-width: 2560px){
  .carousel{
    height:805px;
  }
  .carousel-item{
    height: 800px;
  }
  .d-block{
    height: 800px;
  }
  #fullname,#age,#phone,#email{
    width: 80%;
  }
 
}

@media only screen and (max-width: 1440px){
  .carousel{
    height: 805px;
  }
  .carousel-item{
    height: 800px;
  }
  .d-block{
    height: 800px;
  }
  #fullname,#age,#phone,#email{
    width: 80%;
  }
  
}

@media only screen and (max-width: 1024px){
  .carousel{
    height: 505px;
  }
  .carousel-item{
    height: 500px;
  }
  .d-block{
    height: 500px;
  }
  #fullname,#age,#phone,#email{
    width: 80%;
  }
  
}

@media only screen and (max-width: 786px){
  .carousel{
    height: 405px;
  }
  .carousel-item{
    height: 400px;
  }
  .d-block{
    height: 400px;
  }
  .information > .information_content{
    width: 90%;
  }
  #fullname,#age,#phone,#email{
    width: 70%;
  }
}
@media only screen and (max-width: 430px){
  .carousel{
    height: 305px;
  }
  .carousel-item{
    height: 300px;
  }
  .d-block{
    height: 300px;
  }
   .nav-tabs{
    display: flex;
    flex-direction: column;
  }
  .information > .information_content{
    width: 90%;
  }
  #fullname,#age,#phone,#email{
    width: 45%;
  }
}

@media only screen and (max-width: 376px){
  .carousel{
    height: 205px;
  }
  .carousel-item{
    height: 200px;
  }
  .d-block{
    height: 200px;
  }
  .nav-tabs{
    display: flex;
    flex-direction: column;
  }
  .information >.information_content{
    width: 90%;
  }
  .chapternav_item > a{
    font-size: 10px;
  }
  .form_customer > table{
    width: 100%;
  }
  #fullname,#age,#phone,#email{
    width: 80%;
  }
} 

@media only screen and (max-width: 320px){
  .information > .information_content{
    width: 90%;
  }
  .chapternav_item>a{
    font-size: 10px;
  }
  .form_customer > table{
    width: 100%;
  }
  #fullname,#age,#phone,#email{
    width: 80%;
  }
}